venv/
__pycache__/
*.exe
*.gf
*.pyc
*.prof
.idea/
.spyproject/
.pytest_cache/
.vscode/
*.egg-info/
dist/
build/
misc/*-out.*
misc/SNOBOL4c
misc/matching
tests/*.txt
tests/*.lst
deleteme*.*
ENG-685/*.pdf
ENG-685/*.odp
ENG-685/*.txt
tasks.json
.pypirc
